<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="content-block">
        <h1>{{ portfolio.name }}</h1>>
        <h2>{{ portfolio.site_description }}</h2>>
    </div>
    <div class="content-block">
        <div сlass="content-block__ul">
            <h2>Услуги</h2>
{#            <ul>#}
{#                {% for service in portfolio.service_list %}#}
{#                <li class="content-block__ul__item">#}
{#                    {{ service }}#}
{#                </li>#}
{#            {% endfor %}#}
{#            </ul>#}
        </div>
    </div>
    <div class="content-block">
        <div class="content-block__photo">
            <img src="" alt="">
        </div>
        <div сlass="content-block__text">
            <h2>Обо мне</h2>
            <div>{{ portfolio.about }}</div>
        </div>
    </div>
    <div class="content-block">
        <div class="content-block__slider">
            <div class="content-block__slider__content">
                {% for post in post_list %}
                    <div class="content-block__slider__content__text">
                        {{ post }}
                    </div>
                {% endfor %}
            </div>
            <button class="prev-button" aria-label="Посмотреть предыдущий слайд">&lt;</button>
            <button class="next-button" aria-label="Посмотреть следующий слайд">&gt</button>
        </div>
    </div>
    <div class="content-block">

    </div>
</body>
</html>