h2 {
  text-align: center;
  font-family: "Century Gothic";
}

h1 {
  text-align: center;
  font-family: "Century Gothic";
}

.main_icon {
  border: 6px solid;
  border-radius: 25px;
  width: 10%;
  margin: 15px;
  padding: 5px;
}
.content-block{
  background-color: darkgrey;
  color: beige;
  border: 6px solid;
  border-radius: 25px;
  padding: 30px;
  margin: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.content-block:nth-child(2n){
  background-color: black;
  color: beige;
}
.content-block__slider {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.content-block__slider__content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.content-block__slider__content__text {
  width: 100%;
  height: 100%;
  /*object-fit: cover;*/
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 10px;
  font-size: 24px;
  color: white;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}